# API
# URL of the example database in the docker/postgres/docker-compose.yml. Update it with your own credentials.
DATABASE_URL=postgresql://4sports:4sports_pass@localhost:5432/4sports_dev
REDIS_URL=redis://localhost:6379
GOOGLE_CLIENT_ID=a
GOOGLE_CLIENT_SECRET=a
FACEBOOK_CLIENT_ID=a
FACEBOOK_CLIENT_SECRET=a
WEB_URL=http://localhost:3000
PORT=4000
MOBILE_URL=exp://localhost:3000

# Logs
LOG_LEVEL=debug
LOG_FILE=logs/api.log

# Auth (BetterAuth)
BETTER_AUTH_SECRET=

# Cloudflare R2
R2_ACCOUNT_ID=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
R2_BUCKET_NAME=

# Firebase FCM
FIREBASE_PROJECT_ID=
FIREBASE_PRIVATE_KEY=
FIREBASE_CLIENT_EMAIL=
